%div{'id' => 'chart-container'}
  %div{'id' => 'chart', 'data-project' => params[:project], 'data-branch' => params[:branch]}
  %div{'id' => 'y-axis'}
  %div{'id' => 'x-axis'}

%div{'id' => 'legend'}
= js :application